* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #fbfbfb;
}

.navbar {
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 50px;
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 0 10px rgba(160, 160, 160, 0.2);
}
.navbar img {
  height: 50px;
}
.navbar .icons img {
  height: 21px;
  cursor: pointer;
  margin: 0 10px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  margin: 0 18px;
  letter-spacing: 1px;
  font-size: 18px;
}
.navbar ul li a {
  color: #111;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .desc-container {
  width: 50%;
}
main .desc-container span {
  color: #FF1CF7;
  margin-top: 10px;
}
main .desc-container h1 {
  font-size: 50px;
  letter-spacing: 1px;
  width: 100%;
  color: #7C14FD;
}
main .desc-container p {
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 18px;
}
main .image-container {
  margin-left: 10px;
}
main .image-container img {
  height: 450px;
  border-radius: 30px;
}

.about {
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about h1 {
  font-size: 30px;
  letter-spacing: 0.5px;
}
.about .inner-about {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.about .inner-about section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .inner-about section p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
  width: 50%;
}
.about .inner-about section img {
  width: 50%;
  height: 480px;
}
.about .inner-about section img:nth-child(2) {
  margin-left: 80px;
}
.about .inner-about section img:nth-child(1) {
  margin-right: 80px;
}

.services {
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services span {
  color: #7C14FD;
}
.services .services-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.services .services-container section {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(72, 72, 72, 0.2);
  width: 60%;
  margin: 30px 0;
}
.services .services-container section div {
  width: 60%;
}
.services .services-container section h2 {
  color: #7C14FD;
  letter-spacing: 1px;
}
.services .services-container section p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  line-height: 24px;
}
.services .services-container section img {
  height: 240px;
}
.services .services-container section:nth-child(1) {
  margin-left: 200px;
}
.services .services-container section:nth-child(2) {
  margin-right: 200px;
}
.services .services-container section:nth-child(3) {
  margin-left: 200px;
}

.products {
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  border: 1px solid #111;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products .products-container {
  margin-top: 50px;
  display: flex;
  display: flex;
  justify-content: space-between;
}
.products .products-container section:nth-child(1) {
  width: 45%;
}
.products .products-container section:nth-child(1) img:nth-child(1) {
  height: 560px;
}
.products .products-container section:nth-child(1) img:nth-child(2) {
  height: 405px;
}
.products .products-container section:nth-child(2) {
  width: 45%;
}
.products .products-container section:nth-child(2) img:nth-child(1) {
  height: 600px;
}
.products .products-container section img {
  height: 200px;
  border: 1px solid #111;
  margin: 20px 0;
}/*# sourceMappingURL=style.css.map */