*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fbfbfb;
}
.navbar{
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    // position: fixed;
    // border: 1px solid #111;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.2);
    img{
        height: 50px;
        // border: 1px solid #111;
    }
    .icons{
        img{
            height: 21px;
            cursor: pointer;
            margin: 0 10px;
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            margin: 0 18px;
            letter-spacing: 1px;
            font-size: 18px;
            a{
                color: #111;
            }
        }
    }
    
}

main{
    // overflow: hidden;
    // border: 1px solid #111;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .desc-container{
        width: 50%;
        span{
            color: #FF1CF7;
            margin-top: 10px;
        }
        h1{
            font-size: 50px;
            letter-spacing: 1px;
            width: 100%;
            color: #7C14FD;
            
        }
        p{
            margin-top: 20px;
            letter-spacing: 1px;
            font-size: 18px;
        }
    }
    .image-container{
        // width: 50%;
        margin-left: 10px;
        img{
            height: 450px;
            // border: 1px solid #111;
            border-radius:  30px;
            // margin-left: 50px;
        }
    }
}

.about{
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    align-items: center;
    display: flex;
    flex-direction: column;
    // border: 1px solid #111;
    h1{
        font-size: 30px;
        letter-spacing: 0.5px;
    }
    .inner-about{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        section{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 22px;
                width: 50%;
            }
            img{
                width: 50%;
                height: 480px;
                &:nth-child(2){
                    margin-left: 80px;
                }
                &:nth-child(1){
                    margin-right: 80px;
                }
            }
        }
    }
}


.services{
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    // border: 1px solid #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        color: #7C14FD;
    }
    .services-container{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        // border: 1px solid #c80505;
        justify-content: center;
        align-items: center;
        
        section{
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgb(72, 72, 72, .2);
          
            width: 60%;
            // border: 1px solid rgb(16, 16, 16);
            margin: 30px 0;
            div{
                width: 60%;
            }
            h2{
                color: #7C14FD;
                letter-spacing: 1px;
            }
            
            p{
                font-size: 16px;
                letter-spacing: 1px;
                margin-top: 10px;
                line-height: 24px;
            }
            img{
                height: 240px;
            }
            &:nth-child(1){
                margin-left: 200px;
            }
            &:nth-child(2){
                margin-right: 200px;
            }
            &:nth-child(3){
                margin-left: 200px;
            }
        }
    }
}
.products{
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    // border: 1px solid #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        color: #7C14FD;
    }
    p{
        margin-top: 20px;
        width: 50%;
        text-align: center;
        letter-spacing: 1px;
    }
    button{
        margin-top: 30px;
        padding: 10px 26px;
        outline: none;
        border: none;
        border: 1px solid #111;
        background: transparent;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 10px;
        color: #111;
    }
    .products-container{
        margin-top: 50px;
        display: flex;
        display: flex;
        justify-content: space-between;
        img{
            height: 260px;
            cursor: pointer;
            // border: 1px solid #111;
            margin: 20px 30px;
            box-shadow: 0 0 10px rgba(160, 160, 160, 0.2);
            border-radius: 20px;
            &:nth-child(2){
                transform: scale3d(1.1,1.1,1.1);
            }
        }
    }
}
.contact{
    width: 80%;
    position: relative;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 110px;
    // border: 1px solid #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-size: 30px;
    }
    p{
        margin-top: 20px;
        font-size: 20px;
        width: 70%;
    }
    button{
        margin-top: 20px;
        padding: 10px 26px;
        outline: none;
        border: none;
        // border: 1px solid #111;
        background: transparent;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 10px;
        background-color: rgb(125, 20, 252);
        color: #fff;
    }
    // background-color: rgb(125, 20, 252, .4);
    img{
        height: 440px;
    }
}

footer{
    width: 100%;
    // position: relative;
    overflow: hidden;
    margin-top: 110px;
    background-color: rgb(125, 20, 252);
    display: flex;
    justify-content: space-between;
    section{
        padding: 20px 0;
        margin-left: 10%;
        h2{
            color: #fff;
            margin-bottom: 16px;
        }
        img{
            height: 20px;
            cursor: pointer;
        }
        p{
            color: #dadada;
            margin: 10px 0;
            letter-spacing: 1px;
            font-size: 18px;
        }
        &:nth-child(2){
            margin-left: 0;
        }
        &:nth-child(3){
            margin-left: 0;
            margin-right: 10%;
            p{
                cursor: pointer;
            }
        }
    }
}
.inner-footer{
    // background-color: rgb(93, 4, 201);
    background-color: rgb(125, 20, 252);
    border-top: 1px solid #fff;
    padding: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}













@media (max-width: 1024px){
    main{
        .desc-container{
            width: 60%;
            h1{
                font-size: 38px;
            }
            p{
                font-size: 16px;
            }
        }
        .image-container{
            img{
                height: 330px;
            }
        }
    }

    .about{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        align-items: center;
        display: flex;
        flex-direction: column;
        // border: 1px solid #111;
        h1{
            font-size: 30px;
            letter-spacing: 0.5px;
        }
        .inner-about{
            margin-top: 40px;
            section{
                p{
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    width: 50%;
                }
                img{
                    width: 50%;
                    height: 380px;
                    &:nth-child(2){
                        margin-left: 80px;
                    }
                    &:nth-child(1){
                        margin-right: 80px;
                    }
                }
                &:nth-child(2){
                    margin-top: 40px;
                }
            }
        }
    }


    .services{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            color: #7C14FD;
        }
        .services-container{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            // border: 1px solid #c80505;
            justify-content: center;
            align-items: center;
            
            section{
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0 0 10px rgb(72, 72, 72, .2);
              
                width: 70%;
                // border: 1px solid rgb(16, 16, 16);
                margin: 30px 0;
                div{
                    width: 60%;
                }
                h2{
                    color: #7C14FD;
                    letter-spacing: 1px;
                }
                
                p{
                    font-size: 16px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    line-height: 24px;
                }
                img{
                    height: 240px;
                }
                &:nth-child(1){
                    margin-left: 200px;
                }
                &:nth-child(2){
                    margin-right: 200px;
                }
                &:nth-child(3){
                    margin-left: 200px;
                }
            }
        }
    }

    .contact{
        width: 80%;
        position: relative;
        padding: 0 40px;
        margin: 0 auto;
        margin-top: 110px;
        // border: 1px solid #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 30px;
        }
        p{
            margin-top: 20px;
            font-size: 20px;
            width: 80%;
            letter-spacing: 1px;
        }
        button{
            margin-top: 20px;
            padding: 10px 26px;
            outline: none;
            border: none;
            // border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 1px;
            border-radius: 10px;
            background-color: rgb(125, 20, 252);
            color: #fff;
            letter-spacing: 1px;
        }
        // background-color: rgb(125, 20, 252, .4);
        img{
            height: 300px;
        }
    }
    
}





@media (max-width: 850px){
    main{
        
        .desc-container{
            width: 60%;
            h1{
                font-size: 28px;
            }
            p{
                font-size: 16px;
            }
        }
        .image-container{
            img{
                height: 260px;
            }
        }
    }

    .about{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        align-items: center;
        display: flex;
        flex-direction: column;
        // border: 1px solid #111;
        h1{
            font-size: 24px;
            letter-spacing: 0.5px;
        }
        .inner-about{
            margin-top: 40px;
            section{
                p{
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    width: 70%;
                }
                img{
                    width: 50%;
                    height: 330px;
                    &:nth-child(2){
                        margin-left: 80px;
                    }
                    &:nth-child(1){
                        margin-right: 80px;
                    }
                }
                &:nth-child(2){
                    margin-top: 40px;
                }
            }
        }
    }


    .services{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
            letter-spacing: 0.5px;
        }
        span{
            color: #7C14FD;
        }
        .services-container{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            // border: 1px solid #c80505;
            justify-content: center;
            align-items: center;
            
            section{
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0 0 10px rgb(72, 72, 72, .2);
              
                width: 70%;
                // border: 1px solid rgb(16, 16, 16);
                margin: 30px 0;
                div{
                    width: 60%;
                }
                h2{
                    color: #7C14FD;
                    letter-spacing: 1px;
                }
                
                p{
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    line-height: 24px;
                }
                img{
                    height: 200px;
                }
                &:nth-child(1){
                    margin-left: 200px;
                }
                &:nth-child(2){
                    margin-right: 200px;
                }
                &:nth-child(3){
                    margin-left: 200px;
                }
            }
        }
    }

    .products{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
        }
        span{
            color: #7C14FD;
        }
        p{
            margin-top: 20px;
            width: 50%;
            text-align: center;
            letter-spacing: 1px;
        }
        button{
            margin-top: 30px;
            padding: 10px 26px;
            outline: none;
            border: none;
            border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 18px;
            letter-spacing: 1px;
            border-radius: 10px;
        }
        .products-container{
            margin-top: 50px;
            display: flex;
            display: flex;
            justify-content: space-between;
            img{
                height: 200px;
                cursor: pointer;
                // border: 1px solid #111;
                margin: 20px 30px;
                border-radius: 20px;
                &:nth-child(2){
                    transform: scale3d(1.1,1.1,1.1);
                }
            }
        }
    }

    .contact{
        width: 80%;
        position: relative;
        padding: 0 40px;
        margin: 0 auto;
        margin-top: 110px;
        // border: 1px solid #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 28px;
        }
        p{
            margin-top: 20px;
            font-size: 16px;
            width: 80%;
            letter-spacing: 1px;
        }
        button{
            margin-top: 20px;
            padding: 10px 26px;
            outline: none;
            border: none;
            // border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 1px;
            border-radius: 10px;
            background-color: rgb(125, 20, 252);
            color: #fff;
            letter-spacing: 1px;
        }
        // background-color: rgb(125, 20, 252, .4);
        img{
            height: 300px;
        }
    }
    
}


@media (max-width: 700px){
    .navbar{
        
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 20px;
        // position: fixed;
        // border: 1px solid #111;
        width: 80%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        padding: 0 30px;
        box-shadow: 0 0 10px rgba(160, 160, 160, 0.2);
       
        img{
            height: 44px;
            // border: 1px solid #111;
        }
        .icons{
            display: none;
            img{
                height: 16px;
                cursor: pointer;
                margin: 0 10px;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                margin: 0 10px;
                letter-spacing: 1px;
                font-size: 18px;
                a{
                    color: #111;
                }
            }
        }
        
    }
    main{
        .desc-container{
            width: 60%;
            h1{
                font-size: 28px;
            }
            p{
                font-size: 14px;
            }
        }
        .image-container{
            img{
                height: 200px;
            }
        }
    }

    .about{
        width: 80%;
        margin: 0 auto;
        margin-top: 130px;
        align-items: center;
        display: flex;
        flex-direction: column;
        // border: 1px solid #111;
        h1{
            font-size: 24px;
            letter-spacing: 0.5px;
        }
        .inner-about{
            margin-top: 40px;
            
            section{
                flex-direction: column-reverse;
                p{
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    width: 70%;
                    text-align: center;
                }
                img{
                    width: 50%;
                    height: 280px;
                    &:nth-child(2){
                        margin-left: 0px;
                        margin-bottom: 40px;
                    }
                    &:nth-child(1){
                        margin-right: 0px;
                        margin-top: 80px;
                        margin-bottom: 20px;
                    }
                }
                &:nth-child(2){
                    flex-direction: column;
                    margin-top: 0px;
                }
            }
        }
    }


    .services{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
            letter-spacing: 0.5px;
        }
        span{
            color: #7C14FD;
        }
        .services-container{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            // border: 1px solid #c80505;
            justify-content: center;
            align-items: center;
            
            section{
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0 0 10px rgb(72, 72, 72, .2);
              
                width: 90%;
                // border: 1px solid rgb(16, 16, 16);
                margin: 30px 0;
                div{
                    width: 60%;
                }
                h2{
                    color: #7C14FD;
                    letter-spacing: 1px;
                }
                
                p{
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    line-height: 24px;
                }
                img{
                    height: 200px;
                }
                &:nth-child(1){
                    margin-left: 0px;
                }
                &:nth-child(2){
                    margin-right: 0px;
                }
                &:nth-child(3){
                    margin-left: 0px;
                }
            }
        }
    }

    .products{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
        }
        span{
            color: #7C14FD;
        }
        p{
            margin-top: 20px;
            width: 50%;
            text-align: center;
            letter-spacing: 1px;
        }
        button{
            margin-top: 30px;
            padding: 10px 26px;
            outline: none;
            border: none;
            border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 18px;
            letter-spacing: 1px;
            border-radius: 10px;
        }
        .products-container{
            margin-top: 50px;
            display: flex;
            display: flex;
            justify-content: space-between;
            img{
                height: 200px;
                cursor: pointer;
                // border: 1px solid #111;
                margin: 20px 10px;
                border-radius: 20px;
                &:nth-child(2){
                    transform: scale3d(1.1,1.1,1.1);
                }
            }
        }
    }

    .contact{
        width: 80%;
        position: relative;
        padding: 0 40px;
        margin: 0 auto;
        margin-top: 110px;
        // border: 1px solid #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 28px;
        }
        p{
            margin-top: 20px;
            font-size: 16px;
            width: 80%;
            letter-spacing: 1px;
        }
        button{
            margin-top: 20px;
            padding: 10px 26px;
            outline: none;
            border: none;
            // border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 1px;
            border-radius: 10px;
            background-color: rgb(125, 20, 252);
            color: #fff;
            letter-spacing: 1px;
        }
        // background-color: rgb(125, 20, 252, .4);
        img{
            height: 200px;
        }
    }
    footer{
        width: 100%;
        // position: relative;
        overflow: hidden;
        margin-top: 110px;
        background-color: rgb(125, 20, 252);
        display: flex;
        justify-content: space-between;
        section{
            padding: 20px 0;
            margin-left: 10%;
            h2{
                color: #fff;
                margin-bottom: 16px;
            }
            img{
                height: 20px;
                cursor: pointer;
            }
            p{
                color: #dadada;
                margin: 10px 0;
                letter-spacing: 1px;
                font-size: 16px;
            }
            &:nth-child(2){
                margin-left: 0;
            }
            &:nth-child(3){
                margin-left: 0;
                margin-right: 10%;
                p{
                    cursor: pointer;
                }
            }
        }
    }
    
}














@media (max-width: 700px){
    .navbar{
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 20px;
        // position: fixed;
        // border: 1px solid #111;
        width: 80%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        padding: 0 30px;
        box-shadow: 0 0 10px rgba(160, 160, 160, 0.2);
        img{
            height: 44px;
            // border: 1px solid #111;
        }
        .icons{
            display: none;
            img{
                height: 16px;
                cursor: pointer;
                margin: 0 10px;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                margin: 0 10px;
                letter-spacing: 1px;
                font-size: 18px;
                a{
                    color: #111;
                }
            }
        }
        
    }
    main{
        .desc-container{
            width: 60%;
            h1{
                font-size: 28px;
            }
            p{
                font-size: 14px;
            }
        }
        .image-container{
            img{
                height: 200px;
            }
        }
    }

    .about{
        width: 80%;
        margin: 0 auto;
        margin-top: 130px;
        align-items: center;
        display: flex;
        flex-direction: column;
        // border: 1px solid #111;
        h1{
            font-size: 24px;
            letter-spacing: 0.5px;
        }
        .inner-about{
            margin-top: 40px;
            
            section{
                flex-direction: column-reverse;
                p{
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    width: 70%;
                    text-align: center;
                }
                img{
                    width: 50%;
                    height: 280px;
                    &:nth-child(2){
                        margin-left: 0px;
                        margin-bottom: 40px;
                    }
                    &:nth-child(1){
                        margin-right: 0px;
                        margin-top: 80px;
                        margin-bottom: 20px;
                    }
                }
                &:nth-child(2){
                    flex-direction: column;
                    margin-top: 0px;
                }
            }
        }
    }


    .services{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
            letter-spacing: 0.5px;
        }
        span{
            color: #7C14FD;
        }
        .services-container{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            // border: 1px solid #c80505;
            justify-content: center;
            align-items: center;
            
            section{
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0 0 10px rgb(72, 72, 72, .2);
              
                width: 90%;
                // border: 1px solid rgb(16, 16, 16);
                margin: 30px 0;
                div{
                    width: 60%;
                }
                h2{
                    color: #7C14FD;
                    letter-spacing: 1px;
                }
                
                p{
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    line-height: 24px;
                }
                img{
                    height: 200px;
                }
                &:nth-child(1){
                    margin-left: 0px;
                }
                &:nth-child(2){
                    margin-right: 0px;
                }
                &:nth-child(3){
                    margin-left: 0px;
                }
            }
        }
    }

    .products{
        width: 80%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
        }
        span{
            color: #7C14FD;
        }
        p{
            margin-top: 20px;
            width: 70%;
            text-align: center;
            letter-spacing: 1px;
        }
        button{
            margin-top: 30px;
            padding: 10px 26px;
            outline: none;
            border: none;
            border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 18px;
            letter-spacing: 1px;
            border-radius: 10px;
        }
        .products-container{
            margin-top: 50px;
            display: flex;
            display: flex;
            justify-content: space-between;
            img{
                height: 200px;
                cursor: pointer;
                // border: 1px solid #111;
                margin: 20px 10px;
                border-radius: 20px;
                &:nth-child(2){
                    transform: scale3d(1.1,1.1,1.1);
                }
            }
        }
    }

    .contact{
        width: 80%;
        position: relative;
        padding: 0 40px;
        margin: 0 auto;
        margin-top: 110px;
        // border: 1px solid #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 28px;
        }
        p{
            margin-top: 20px;
            font-size: 16px;
            width: 80%;
            letter-spacing: 1px;
        }
        button{
            margin-top: 20px;
            padding: 10px 26px;
            outline: none;
            border: none;
            // border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 1px;
            border-radius: 10px;
            background-color: rgb(125, 20, 252);
            color: #fff;
            letter-spacing: 1px;
        }
        // background-color: rgb(125, 20, 252, .4);
        img{
            height: 200px;
        }
    }
    footer{
        width: 100%;
        // position: relative;
        overflow: hidden;
        margin-top: 110px;
        background-color: rgb(125, 20, 252);
        display: flex;
        justify-content: space-between;
        section{
            padding: 20px 0;
            margin-left: 10%;
            h2{
                color: #fff;
                margin-bottom: 16px;
            }
            img{
                height: 20px;
                cursor: pointer;
            }
            p{
                color: #dadada;
                margin: 10px 0;
                letter-spacing: 1px;
                font-size: 16px;
            }
            &:nth-child(2){
                margin-left: 0;
            }
            &:nth-child(3){
                margin-left: 0;
                margin-right: 10%;
                p{
                    cursor: pointer;
                }
            }
        }
    }
    
}

















@media (max-width: 420px){
    .navbar{
       
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 20px;
        // position: fixed;
        // border: 1px solid #111;
        width: 80%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        padding: 0 30px;
        box-shadow: 0 0 10px rgba(160, 160, 160, 0.2);
        img{
            height: 38px;
            // border: 1px solid #111;
        }
        .icons{
            display: none;
            img{
                height: 16px;
                cursor: pointer;
                margin: 0 10px;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                margin: 0 6px;
                letter-spacing: 1px;
                font-size: 16px;
                &:nth-child(4){
                    display: none;
                }
                a{
                    color: #111;
                }
            }
        }
        
    }
    main{
        flex-direction: column;
        .desc-container{
            width: 90%;
            text-align: center;
            h1{
                font-size: 30px;
            }
            p{
                font-size: 14px;
            }
        }
        .image-container{
            img{
                margin-top: 20px;
                height: 220px;
            }
        }
    }

    .about{
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        margin-top: 130px;
        align-items: center;
        display: flex;
        flex-direction: column;
        // border: 1px solid #111;
        h1{
            font-size: 24px;
            letter-spacing: 0.5px;
            text-align: center;
        }
        .inner-about{
            margin-top: 40px;
            
            section{
                flex-direction: column-reverse;
                p{
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    width: 70%;
                    text-align: center;
                }
                img{
                    width: 80%;
                    height: 200px;
                    &:nth-child(2){
                        margin-left: 30px;
                        margin-bottom: 40px;
                    }
                    &:nth-child(1){
                        margin-right: 0px;
                        margin-top: 80px;
                        margin-bottom: 20px;
                    }
                }
                &:nth-child(2){
                    flex-direction: column;
                    margin-top: 0px;
                }
            }
        }
    }


    .services{
        
        width: 90%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
            letter-spacing: 0.5px;
            text-align: center;
        }
        span{
            color: #7C14FD;
        }
        .services-container{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            // border: 1px solid #c80505;
            justify-content: center;
            align-items: center;
            
            section{
                padding: 20px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: space-between;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0 0 10px rgb(72, 72, 72, .2);
              
                width: 80%;
                // border: 1px solid rgb(16, 16, 16);
                margin: 30px 0;
                div{
                    width: 100%;
                }
                h2{
                    color: #7C14FD;
                    letter-spacing: 1px;
                    font-size: 16px;
                    text-align: center;
                }
                
                p{
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    line-height: 24px;
                    text-align: center;
                }
                img{
                    height: 170px;
                    margin-bottom: 20px;
                }
                &:nth-child(1){
                    margin-left: 0px;
                }
                &:nth-child(2){
                    margin-right: 0px;
                }
                &:nth-child(3){
                    margin-left: 0px;
                }
            }
        }
    }

    .products{
        // overflow: hidden;
        width: 90%;
        margin: 0 auto;
        margin-top: 90px;
        // border: 1px solid #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 28px;
        }
        span{
            color: #7C14FD;
        }
        p{
            margin-top: 20px;
            width: 80%;
            text-align: center;
            letter-spacing: 1px;
        }
        button{
            margin-top: 30px;
            padding: 10px 26px;
            outline: none;
            border: none;
            border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 18px;
            letter-spacing: 1px;
            border-radius: 10px;
        }
        .products-container{
            margin-top: 50px;
            display: flex;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            img{
                height: 280px;
                cursor: pointer;
                // border: 1px solid #111;
                margin: 20px 10px;
                border-radius: 20px;
                &:nth-child(2){
                    transform: scale3d(1,1,1);
                }
            }
        }
    }

    .contact{
        width: 90%;
        position: relative;
        padding: 0 20px;
        margin: 0 auto;
        margin-top: 110px;
        // border: 1px solid #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        h1{
            font-size: 24px;
            text-align: center;
            margin-top: 40px;
        }
        p{
            text-align: center;
            margin-top: 20px;
            font-size: 16px;
            width: 100%;
        }
        button{
            width: 100%;
            margin-top: 20px;
            padding: 20px 26px;
            outline: none;
            border: none;
            // border: 1px solid #111;
            background: transparent;
            cursor: pointer;
            font-size: 18px;
            letter-spacing: 1px;
            border-radius: 10px;
            background-color: rgb(125, 20, 252);
            color: #fff;
        }
        // background-color: rgb(125, 20, 252, .4);
        img{
            height: 180px;
        }
    }
    footer{
        // border: 5px solid #111;
        // display: none;
        width: 100%;
        // position: relative;
        overflow: hidden;
        margin-top: 110px;
        background-color: rgb(125, 20, 252);
        display: flex;
        justify-content: space-between;
        section{
            padding: 20px 0;
            margin-left: 10%;
            h2{
                color: #fff;
                margin-bottom: 12px;
                font-size: 12px;
            }
            img{
                height: 20px;
                cursor: pointer;
            }
            p{
                color: #dadada;
                margin: 10px 0;
                letter-spacing: 1px;
                font-size: 10px;
            }
            &:nth-child(2){
                margin-left: 0;
            }
            &:nth-child(3){
                margin-left: 0;
                margin-right: 10%;
                p{
                    cursor: pointer;
                }
            }
        }
    }
    
}